<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>1376</xmin>
        <xmax>1780</xmax>
        <ymin>53</ymin>
        <ymax>556</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1504</xmin>
        <xmax>1704</xmax>
        <ymin>220</ymin>
        <ymax>304</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>692</xmin>
        <xmax>996</xmax>
        <ymin>69</ymin>
        <ymax>275</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>