<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>417</xmin>
        <xmax>835</xmax>
        <ymin>226</ymin>
        <ymax>729</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1504</xmin>
        <xmax>1514</xmax>
        <ymin>220</ymin>
        <ymax>230</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>692</xmin>
        <xmax>702</xmax>
        <ymin>69</ymin>
        <ymax>79</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>